
@import './variables.scss';
@import 'sass-bootstrap/lib/bootstrap';

.navbar-static-top {
  margin-bottom: 19px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: $footer-height + 20;
}
.footer {
  padding-top: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  background-color: $gray-lighter;
}

/* definitions list */
@for $i from 1 through 4 {
  @media (min-width: $screen-xs-min) { dl.dl-xs-#{$i}-columns { column-count: $i; } }
  @media (min-width: $screen-sm-min) { dl.dl-sm-#{$i}-columns { column-count: $i; } }
  @media (min-width: $screen-md-min) { dl.dl-md-#{$i}-columns { column-count: $i; } }
  @media (min-width: $screen-lg-min) { dl.dl-lg-#{$i}-columns { column-count: $i; } }
  dl.dl-#{$i}-columns { column-count: $i; }
}
