
@import './variables.scss';
@import 'sass-bootstrap/lib/bootstrap';

.navbar-static-top {
  margin-bottom: 19px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: $footer-height + 20;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMzAwIiBoZWlnaHQ9IjMwMCI+CjxmaWx0ZXIgaWQ9Im4iIHg9IjAiIHk9IjAiPgo8ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iLjAwMSAuNCIgc3RpdGNoVGlsZXM9InN0aXRjaCI+PC9mZVR1cmJ1bGVuY2U+CjwvZmlsdGVyPgo8cmVjdCB3aWR0aD0iMzAwIiBoZWlnaHQ9IjMwMCIgZmlsbD0iI2ZmZiI+PC9yZWN0Pgo8cmVjdCB3aWR0aD0iMzAwIiBoZWlnaHQ9IjMwMCIgZmlsdGVyPSJ1cmwoI24pIiBvcGFjaXR5PSIuMiI+PC9yZWN0Pgo8L3N2Zz4=");
}
img, .gist {
  -webkit-box-shadow: 8px 8px 8px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 8px 8px 8px 0px rgba(0,0,0,0.2);
  box-shadow: 8px 8px 8px 0px rgba(0,0,0,0.2);
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  border: solid 1px gray;
  max-width: 100%;
}
div.container > div.post blockquote:before {
  content:      '\f10d';
  font-family:  FontAwesome;
  float:        left;
  font-size:    ($font-size-base * 2);
  margin-left: -(($font-size-base + $line-height-computed) * 2);
  margin-top:  -($line-height-computed / 2);
}
.footer {
  padding-top: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  background-color: $gray-lighter;
}

/* definitions list */
@for $i from 1 through 12 {
  @media (min-width: $screen-xs-min) { dl.dl-xs-#{$i}-columns { column-count: $i; } }
  @media (min-width: $screen-sm-min) { dl.dl-sm-#{$i}-columns { column-count: $i; } }
  @media (min-width: $screen-md-min) { dl.dl-md-#{$i}-columns { column-count: $i; } }
  @media (min-width: $screen-lg-min) { dl.dl-lg-#{$i}-columns { column-count: $i; } }
  dl.dl-#{$i}-columns { column-count: $i; }
}

h1, h2, h3, h4, h5, h6 {
  code {
    font-size: 90% !important;
  }
}

/* used by icon cheatsheets */
div.panel-body div.post dl.icon-list {
  @include clearfix();
}
div.container > div.post dl.icon-list {
  dd {
    height: 4em;
  }
  dd i.fa, dd i.glyphicon {
    font-size: 3em;
  }
  dt:before {
    content: "";
    border-top: 4px solid gray;
    opacity: 0.4;
    display: block;
  }
}
